.bot-collection {
  margin: 20px;
}

.bot-collection table {
  width: 100%;
  border-collapse: collapse;
}

.bot-collection th,
.bot-collection td {
  border: 1px solid #ddd;
  padding: 6px; /* Adjust padding for smaller cells */
  text-align: center;
  font-size: 14px; /* Reduce font size for smaller text */
}

.bot-collection th {
  background-color: #f2f2f2;
}

.bot-collection img {
  width: 40px; /* Adjust image size for smaller avatars */
  height: 40px; /* Adjust image size for smaller avatars */
  border-radius: 50%; /* Apply border-radius for rounded avatars */
}

.enlisted-btn-container {
  display: flex;
  justify-content: flex-end; /* Flex the button to the right */
  margin-bottom: 10px; /* Add margin for spacing */
}

.enlisted-btn-container button {
  margin-left: 10px; /* Add margin between buttons */
}

.enlisted-bots-popup{
  background-color: lightblue;
  border: thick;
  border-color: black;
  border-width: thick;
}

.close-btn{
  background-color: pink;
  border: none;
  size: 10px* 10px
}
h2{
  text-decoration: underline;
}